
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12">

  <div class="col-lg-12 col-md-12 col-sm-6">
    <div class="no-padding">
    	<span class="title">Aanbiedingen</span>
		</div>

		<div class="hero-feature">
			<div class="thumbnail text-center">
				<a class="link-p" href="detail.html" style="overflow: hidden; position: relative;">
					<img alt="" src="http://www.jouwsexshop.nl/images/sexartikelen/450/simply-sinful-garter-set-diva-queen-size-3xl-4xl.jpg" style="position: absolute; width: 280px; height: auto; max-width: none; max-height: none; left: -28px; top: 0px;">
				</a>

				<div class="caption prod-caption">
					<h4><a href="detail.html">Simply Sinful Garter set Diva Queen Size 3XL/4XL</a></h4>
					<p>Ga voor een zeer aanlokkelijke look en verleid je partner met deze jarretel set bestaande uit de jarretelgordel, G-string, X tepelkwastjes en de nylon kousen.</p>
				
					<div class="btn-group">
						<a class="btn btn-default" href="#">nu &euro; 50.35</a>
						<a class="btn btn-primary" href="#"><i class="fa fa-shopping-cart"></i> Kopen</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-lg-12 col-md-12 col-sm-6">
		<div class="no-padding">
			<span class="title">BEST SELLER</span>
		</div>
		<div class="hero-feature">
			<div class="thumbnail text-center">
				<a class="link-p" href="detail.html" style="overflow: hidden; position: relative;">
					<img alt="" src="http://www.jouwsexshop.nl/images/sexartikelen/450/panty-met-zwart-geweven-effect.jpg" style="position: absolute; width: 280px; height: auto; max-width: none; max-height: none; left: -28px; top: 0px;">
				</a>
				<div class="caption prod-caption">
					<h4><a href="detail.html">Panty met zwart geweven effect</a></h4>
					<p>Panty waarbij het lijkt alsof er een draad gespannen zit om je benen. Super sexy dus!</p>

					<div class="btn-group">
						<a class="btn btn-default" href="#">&euro; 12.65</a>
						<a class="btn btn-primary" href="#"><i class="fa fa-shopping-cart"></i> Kopen</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="clearfix visible-sm"></div>

<div class="col-lg-9 col-md-9 col-sm-12">
	<div class="col-lg-12 col-sm-12">
		<span class="title">Onze sexartikelen</span>
		<p>
			Beste bezoeker, welkom bij Jouwsexshop.nl.<br>
			Je vindt hier veel leuke producten waar je jezelf, je partner en elkaar mee kunt verwennen.<br>
			<br>
			Ben je al eens vaker in de sexshop geweest?<br>
			Het is nu tijd om te kijken wat hier zoal wordt aangeboden zodat je weet wat je hier kunt kopen!<br>
			Verras jezelf maar eens meteen met nieuwe kleding of een leuk speeltje, het kan hier allemaal...
			<br><br>
		</p>
	</div>
	<div class="col-lg-4 col-sm-4 hero-feature text-center">
		<div class="thumbnail">
			<a class="link-p" href="detail.html" style="overflow: hidden; position: relative;">
				<img alt="" src="http://www.jouwsexshop.nl/images/sexartikelen/450/gestippelde-short-met-open-kruis.jpg" style="position: absolute; width: 250px; height: auto; max-width: none; max-height: none; left: -3px; top: 0px;">
			</a>

			<div class="caption prod-caption">
				<h4><a href="detail.html">Gestippelde short met open kruis</a></h4>
				<p>Zwarte, schattige short met open kruis. De achterkant is transparant en versierd met stippen. Met kleine roze strikjes aan de voorkant en achterkant. Lief maar stout tegelijk!</p>
				<div class="btn-group">
					<a class="btn btn-default" href="#">&euro; 13.38</a>
					<a class="btn btn-primary" href="#"><i class="fa fa-shopping-cart"></i> Kopen</a>
				</div>
			</div>
		</div>
	</div>

</div>
